<launch>

  <!-- Arguments -->
  <arg name="bagfile" default="/home/karl/wheele_misc/2018-10-21-17-52-56_road_cone_run6.bag"/>
  <param name="/use_sim_time" value="true"/>

  <arg name="map_file" default="$(find nav_sim)/config/big_run_map1u_clean_append6.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file) _frame_id:=map0" />

  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="2.0 -1.0 0 0.0 0 0 /map0 /map 2" />
  <!-- 2018-10-21-17-52-56_road_cone_run6.bag, x:1.0 y:1.0 yaw:0.0 -->
  <!-- 2018-05-27-19-42-03.bag, x:5.5 y:-7.5 yaw:0.03 -->
  <!-- 2018-05-27-19-44-12.bag, x:2.5 y:-10.5 yaw:0.05 -->
  <!-- 2018-05-27-19-49-54.bag, x:1.5 y:-15.0 yaw:0.01 -->
  <!-- 2018-05-27-19-55-43.bag, x:-9.5 y:-17.0 yaw:0.05 -->
  <!-- Nov run3.bag, x:6.9 y:0.3 yaw:0.01 -->

  <!-- RViz -->
  <node name="visualisation" pkg="rviz" type="rviz" args="-d $(find avoid_obstacles)/config/view_costmap.rviz" />

  <!-- Play the bagfile, loop is an option -->
  <node pkg="rosbag" type="play" name="rosbag" args="--clock $(arg bagfile) -l -r 1 /costmap:=/costmap_prev /path:=/path_prev" />

  <!-- <include file="$(find robot_localization)/launch/gps_transform.launch" /> --> #NOT PUBLISHING FROM BAG /fix
  <node name="gps_transform" pkg="gps_modular" type="abs_gps_transform.py" />
  <node name="yaw_pub" pkg="gps_modular" type="yaw_pub.py" output = "screen"/>

  <!-- <include file="$(find jeep_2dnav)/launch/jeep_amcl_diff.launch" /> -->

  <!--
  <node type ="laser2pc_node" pkg="bag_tools" name="laser2pc" output="screen" >
    <param name="pc_frame" value="map" />
    <param name="scan_topic" value="/scan" />
  </node>
  -->

  <node name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view" />
  <include file="$(find avoid_obstacles)/launch/avoid_obstacles.launch" />
  <node pkg="avoid_obstacles" type="waypoints_manager.py" name="waypoints_manager" output="screen"/>
  <!-- <include file="$(find cone_finder)/launch/train_cone_coords.launch" /> -->
  <include file="$(find cone_finder)/launch/cone_finder_offboard.launch" />

</launch>
